.service-title
{
    background-color: #2a9c8e;
    border-radius: 5px;
    padding: 5px;
    margin: 5px auto;
    text-align: center;
}
.add_instruction
{
    margin-bottom: 5px;
    background-color: #edb651;
    border-color: #edb651 !important;
    color: #fff;
    padding: 0px;
}