
.content-wrapper
{
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* dashboard *****************/
.dashboard .header-dashboard
{
    text-align: center;
    margin-bottom: 30px;
    margin-top: -20px;
    opacity: 0.8;
}

.dashboard .header-dashboard img
{
    max-width: 100%;
}
/*********************/
.form-group .custom-select,.form-group .form-control
{
    border-radius: 0.25rem;
}
.single-row .key
{
    font-weight: 700;
    margin-bottom: 5px;
}
.sup_cli_name
{
    font-weight: 700;
    margin-bottom: 10px;
}

.form-control-border
{
    border: 1px solid #ced4da !important;
}

.select2
{
    width: 100%;
}

input[type = datetime-local]
{
    text-align: right !important;
}

.print-bill
{
    position: absolute;
    right: 10px;
}

/* purchase-add ******************/
.purchase-add .total-div
{
    margin-top: 50px;
}

.purchase-add .new-product-btn {
    margin-top: -15px;
    margin-bottom: 1rem;
}

/* sale-add ******************/
.sale-add .total-div
{
    margin-top: 50px;
}

/******************************/


.modal-header .close {
    margin: -1rem -1rem -1rem 0;
}

.modal .title
{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.modal-lg .modal-body
{
overflow: auto;
}

@media only screen and (min-width: 768px) {
	.modal-lg .modal-content
	{
		width: 870px;
	}
}

/**************/
input[type = 'date']
{
    text-align: right;
}

/****************/
.display-none
{
    display: none;
}

.actions-dropdown .dropdown-menu
{
    text-align: right;
    min-width: 12rem;
}

.actions-dropdown .dropdown-menu
{
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 7px 3px rgb(0 0 0 / 10%);
    padding: 0;
}

.actions-dropdown .dropdown-menu .dropdown-item
{
    border-bottom: 1px solid rgba(0,0,0,.04);
    padding: 10px 12px;
    transition: all .15s ease-in-out;
}

.actions-dropdown .dropdown-item .fa-edit
{
    color: #17a2b8;
}


.form-group img
{
    max-width: 200px;
}

.single-row img
{
    max-width: 100%;
}
